<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.menus.mapper.MenuMapper">  
  <!-- 목록조회 --> 
 
 <select id="getMenuList"
          resultType = "com.board.menus.domain.MenuDTO">
    SELECT     MENU_ID, MENU_NAME, MENU_SEQ
     FROM      MENUS
     ORDER BY  MENU_SEQ ASC
 
 </select>
    
    <!-- 메뉴 추가 -->
  <insert id="insertMenu">
 
  INSERT INTO MENUS
  (
     MENU_ID,
     MENU_NAME,
     MENU_SEQ
  )
  VALUES
  (
     #{ menu_id   },
     #{ menu_name },
     #{ menu_seq  }
   
  )
  </insert>
  
  <!-- 목록삭제 -->
  <delete id="deleteMenu">
  
  DELETE FROM MENUS
   WHERE MENU_ID = #{ menu_id }
  
  </delete>
      
</mapper>